/*
     Valv3.exe ~ Ricky Caesar Aprilla Tiaka
     rickycaesar6402@gmail.com
    ...- .- .-.. ...- ...-- .-.-.- . -..- . / -...- / .-. .. -.-. -.- -.-- / -.-. .- . ... .- .-. / .- .--. .-. .. .-.. .-.. .- / - .. .- -.- .- .-.-.- / .-. .. -.-. -.- -.-- -.-. .- . ... .- .-. -.... ....- ----- ..--- .--.-. --. -- .- .. .-.. .-.-.- -.-. --- --
*/

* {
    padding: 0;
    margin: 0;
}

/* Font Family */

@font-face {
    font-family: 'Æ Systematic TT BRK';
    /* font name you can use it from your .tff file */
    src: url('aesymatt.ttf');
    /* from file font ttf, you can change it with your font */
}

html {
    font-family: 'Æ Systematic TT BRK';
    /* use font on html */
}

/* Font Family End */

/* Item Align */

.i-center {
    align-items: center;
}

/* Item Align End */

/* Image Align */

.img-left {
    display: block;
    margin-right: auto;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-right {
    display: block;
    margin-left: auto;
}

/* Image Align End */

/* Image Style */

.img-size1 {
    width: 200px;
    height: 200px;
}

.img-size2 {
    width: 400px;
    height: 400px;
}

.img-circ {
    border-radius: 50%;
}

.img-roun {
    border-radius: 15px;
}

/* Iamge Style End */

/* Text Align */

.t-right {
    text-align: right;
}

.t-center {
    text-align: center;
}

.t-left {
    text-align: left;
}

/* Text Align End */

/* Text Size */

.t-size1 {
    font-size: 14px;
}

.t-size2 {
    font-size: 18px;
}

.t-size3 {
    font-size: 22px;
}

.t-size4 {
    font-size: 26px;
}

.t-size5 {
    font-size: 30px;
}

/* Text Size End */

/* Text Color */

.t-black {
    color: black;
    transition: color 0.3s ease-in-out;
}

a.t-black:hover {
    color: rgb(70, 70, 70);
}

.t-white {
    color: white;
    transition: color 0.3s ease-in-out;
}

a.t-white:hover {
    color: rgb(202, 202, 202);
}

/* Text Color End */

/* GRID */

/* Raw */

.raw {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.raw-rev {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.raw-cal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.raw-cal-rev {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

/* Raw End */

/* Cal */

.cal1 {
    width: 8.33%;
    transition: width 0.5s ease-in-out;
}

.cal2 {
    width: 16.66%;
    transition: width 0.5s ease-in-out;
}

.cal3 {
    width: 25%;
    transition: width 0.5s ease-in-out;
}

.cal4 {
    width: 33.33%;
    transition: width 0.5s ease-in-out;
}

.cal5 {
    width: 41.66%;
    transition: width 0.5s ease-in-out;
}

.cal6 {
    width: 50%;
    transition: width 0.5s ease-in-out;
}

.cal7 {
    width: 58.33%;
    transition: width 0.5s ease-in-out;
}

.cal8 {
    width: 66.66%;
    transition: width 0.5s ease-in-out;
}

.cal9 {
    width: 75%;
    transition: width 0.5s ease-in-out;
}

.cal10 {
    width: 83.33%;
    transition: width 0.5s ease-in-out;
}

.cal11 {
    width: 91.66%;
    transition: width 0.5s ease-in-out;
}

.cal12 {
    width: 100%;
    transition: width 0.5s ease-in-out;
}

.calauto {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    max-width: auto;
    transition: width 0.5s ease-in-out;
}

@media only screen and (max-width: 768px) {
    [class*="cal"] {
        width: 100%;
        margin-bottom: 1%;
    }
}

/* Cal End */

/* Padding */

/* Padding 1 */

.padd1 {
    padding: 1%;
}

.padd1-t {
    padding-top: 1%;
}

.padd1-r {
    padding-right: 1%;
}

.padd1-b {
    padding-bottom: 1%;
}

.padd1-l {
    padding-left: 1%;
}

/* Padding 1 End */

/* Padding 2 */

.padd2 {
    padding: 2%;
}

.padd2-t {
    padding-top: 2%;
}

.padd-r {
    padding-right: 2%;
}

.padd2-b {
    padding-bottom: 2%;
}

.padd2-l {
    padding-left: 2%;
}

/* Padding 2 End */

/* Padding 3 */

.padd3 {
    padding: 3%;
}

.padd3-t {
    padding-top: 3%;
}

.padd3-r {
    padding-right: 3%;
}

.padd3-b {
    padding-bottom: 3%;
}

.padd3-l {
    padding-left: 3%;
}

/* Padding 3 End */

/* Padding 4 */

.padd4 {
    padding: 4%;
}

.padd4-t {
    padding-top: 4%;
}

.padd4-r {
    padding-right: 4%;
}

.padd4-b {
    padding-bottom: 4%;
}

.padd4-l {
    padding-left: 4%;
}

/* Padding 4 End */

/* Padding 5 */

.padd5 {
    padding: 5%;
}

.padd5-t {
    padding-top: 5%;
}

.padd5-r {
    padding-right: 5%;
}

.padd5-b {
    padding-bottom: 5%;
}

.padd5-l {
    padding-left: 5%;
}

/* Padding 5 End */

/* Padding Auto */

.paddauto-t {
    padding-top: auto;
}

.paddauto-r {
    padding-right: auto;
}

.paddauto-b {
    padding-bottom: auto;
}

.paddauto-l {
    padding-left: auto;
}

/* Padding Auto */

/* Padding End */

/* Margin */

/* Margin 1 */
.marg1 {
    margin: 1%;
}

.marg1-t {
    margin-top: 1%;
}

.marg1-r {
    margin-right: 1%;
}

.marg1-b {
    margin-bottom: 1%;
}

.marg1-l {
    margin-left: 1%;
}

/* Margin 1 End */

/* Margin 2 */

.marg2 {
    margin: 2%;
}

.marg2-t {
    margin-top: 2%;
}

.marg2-r {
    margin-right: 2%;
}

.marg2-b {
    margin-bottom: 2%;
}

.marg2-l {
    margin-left: 2%;
}

/* Margin 2 End */

/* Margin 3 */

.marg3 {
    margin: 3%;
}

.marg3-t {
    margin-top: 3%;
}

.marg3-r {
    margin-right: 3%;
}

.marg3-b {
    margin-bottom: 3%;
}

.marg3-l {
    margin-left: 3%;
}

/* Margin 3 End */

/* Margin 4 */

.marg4 {
    margin: 4%;
}

.marg4-t {
    margin-top: 4%;
}

.marg4-r {
    margin-right: 4%;
}

.marg4-b {
    margin-bottom: 4%;
}

.marg4-l {
    margin-left: 4%;
}

/* Margin 4 End */

/* Margin 5 */

.marg5 {
    margin: 5%;
}

.marg5-t {
    margin-top: 5%;
}

.marg5-r {
    margin-right: 5%;
}

.marg5-b {
    margin-bottom: 5%;
}

.marg5-l {
    margin-left: 5%;
}

/* Margin 5 End */

/* Margin Auto */

.margauto-t {
    margin-top: auto;
}

.margauto-r {
    margin-right: auto;
}

.margauto-b {
    margin-bottom: auto;
}

.margauto-l {
    margin-left: auto;
}

/* Margin auto End */

/* Margin End */

/* Just */

.just-start {
    justify-content: flex-start;
}

.just-half {
    justify-content: center;
}

.just-end {
    justify-content: flex-end;
}

/* Just End*/

/* GRID End */

/* Component */

/* Gap */

.gap {
    max-width: 100vw;
    padding-right: 5vw;
    padding-left: 5vw;
    margin-right: auto;
    margin-left: auto;
}

.ungap {
    max-width: 100vw;
}

/* Gap End */

/* Navbang */

.navbang {
    display: flex;
    transition: 0.5s all ease-in-out;
    align-items: center;
}

/* Navbang Component */

.navbang-title {
    text-decoration: none;
    font-size: 2.5rem;
}

.navbang-title.title-black {
    color: black;
}

.navbang-title.title-white {
    color: white;
}

.navbang-link {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

@media only screen and (max-width: 768px) {
    .navbang-link {
        display: none;
    }

    .navbang-title {
        margin-left: auto;
        margin-right: auto;
    }
}

.navbang-link li {
    margin-bottom: -1px;
    flex: 1 1 auto;
    text-align: center;
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
}

.navbang-link a {
    text-decoration: none;
    padding: 2.5px 5px;

}

.navbang-link.link-black a {
    color: rgb(80, 80, 80);
}

.navbang-link.link-black a:hover {
    color: black;
}

.navbang-link.link-white a {

    color: rgb(202, 202, 202);
}

.navbang-link.link-white a:hover {
    color: white;
}

/* Navbang Component End */

/* Navbang End */

/* Sidebang */

.sidebang {
    display: inline-flex;
    margin: 1rem 0 1rem 1rem;
    padding: 0.5rem 0 0.5rem 0;
    width: 70%;
    border-radius: 5px;
    background-color: rgb(202, 202, 202);
    color: black;
}

@media only screen and (max-width: 768px) {
    .sidebang {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
    }
    
    .sidebang li {
        display: inline-block;
    }
}

/* Sidebang Component */

.sidebang ul {
    list-style: none;
}

.sidebang ul li{
    padding: 0.5rem 1rem;
}

.side-i {
    color: black;
    text-decoration: none;
}

/* Sidebang Component End */

/* Sidebang End */

/* Foot */

.foot {
    max-width: 100vw;
}

/* Foot Component */

.foot-down {
    background-color: rgba(14, 14, 14, 0.459);
    padding-top: 0.6vh;
    text-align: center;
    padding-bottom: 0.6vh;
}

.foot-list {
    list-style: none;
}

.foot-list li {
    text-align: center;
    margin: 1% 0 1% 0;
}

.foot-list li a {
    text-decoration: none;
}

.foot-list li i {
    display: inline-flex;
}

/* Foot Component End */

/* Foot End */

/* Banner */

.banner {
    display: grid;
    border-radius: 5px;
    background: none;
    position: relative;
    margin-bottom: 2%;
    margin-top: 2%;
    box-shadow: rgba(24, 24, 24, 0.37) 0 0.1rem 0.5rem;
    z-index: 1;
}

.banner:after {
    content: '';
    position: absolute;
    z-index: -1;
    transition: all 0.2s;
}

/* Banner Component */

.banner-content {
    background-color: rgba(66, 66, 66, 0.685);
    border-radius: 5px;
    text-align: end;
    color: white;
    padding: 1%;
    min-height: 150px;
}

.banner-content p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.banner-box {
    background-size: cover;
}

.banner-box-grass {
    background-color: rgb(146, 207, 110);
}

.banner-box-water {
    background-color: rgb(110, 180, 207);
}

.banner-box-lava {
    background-color: rgb(207, 110, 110);
}

.banner-box-sun {
    background-color: rgb(207, 157, 110);
}

.banner-box-black {
    background-color: rgb(48, 48, 48);
}

.banner-box-white {
    background-color: rgb(202, 202, 202);
}

.banner-title {
    padding: 5%;
    transition: unset;
}

.banner-title *:first-child {
    font-weight: bold;
    font-size: 26px;
    min-height: 55px;
}

.banner-title-bg {
    overflow: hidden;
}

.banner-title-bg:after {
    top: -10px;
    width: 150vw;
    height: 40rem;
    background: rgba(216, 216, 216, 0.644);
    box-shadow: rgba(24, 24, 24, 0.37) 0 0.1rem 0.5rem;
    transform: translateX(-50%) translateY(-50%) rotate(-30deg);
}

@media only screen and (max-width: 768px) {
    .banner-title {
        padding: 5%;
        background-color: rgba(216, 216, 216, 0.644);
    }

    .banner-title-bg:after {
        display: none;
    }
}

/* Banner Content */

/* Banner End */

/* Card alert */

[class*="card-alert-"] {
    padding: 1%;
    border-radius: 5px;
}

.card-alert-grass {
    background-color: rgba(146, 207, 110, 0.568);
    border: 2px solid rgb(146, 207, 110);
    color: rgb(75, 179, 15);
}

.card-alert-water {
    background-color: rgb(110, 180, 207, 0.568);
    border: 2px solid rgb(110, 180, 207);
    color: rgb(37, 135, 173);
}

.card-alert-lava {
    background-color: rgb(207, 110, 110, 0.568);
    border: 2px solid rgb(207, 110, 110);
    color: rgb(185, 60, 60);
}

.card-alert-sun {
    background-color: rgb(207, 157, 110, 0.568);
    border: 2px solid rgb(207, 157, 110);
    color: rgb(187, 121, 59);
}

.card-alert-black {
    background-color: rgb(48, 48, 48, 0.568);
    border: 2px solid rgb(48, 48, 48);
    color: rgb(48, 48, 48);
}

.card-alert-white {
    background-color: rgb(202, 202, 202, 0.568);
    border: 2px solid rgb(202, 202, 202);
    color: rgb(138, 138, 138);
}

/* Card Alert End */

/* Card Box */

.card-box {
    box-shadow: rgba(24, 24, 24, 0.37) 0 0.1rem 0.5rem;
    border-radius: 5px;
    width: 96%;
    transition: box-shadow 0.5s;
    margin: 2%;
}

.card-box:hover {
    box-shadow: rgba(24, 24, 24, 0.37) 0.1rem 0.1rem 0.5rem 0.4rem;
}

/* Card Box Component */

.card-box .card-image {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 20vh;
    background-position: center;
    background-size: cover;
}

.card-box a {
    text-decoration: none;
    transition: text-shadow 0.3s ease-in-out;
}

[class*="card-box-body-"] p:not(:last-child) {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0.5rem 0.5rem;
}

.card-box .card-title {
    min-height: 47px;
}

[class*="card-box-body-"] a.t-black:hover {
    color: black;
    text-shadow: rgb(70, 70, 70) 0 0.1rem 1rem;
}
[class*="card-box-body-"] a.t-white:hover {
    color: white;
    text-shadow: rgb(202, 202, 202) 0 0.1rem 1rem;
}

[class*="card-box-body-"] a.t-black:hover {
    color: black;
}

[class*="card-box-body-"] {
    padding: 10px 20px;
}

[class*="card-box-body-"].no-img {
    border-radius: 5px;
}

[class*="card-box-body-"].with-img {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card-box-body-grass {
    background-color: rgb(146, 207, 110);
}

.card-box-body-water {
    background-color: rgb(110, 180, 207);
}

.card-box-body-lava {
    background-color: rgb(207, 110, 110);
}

.card-box-body-sun {
    background-color: rgb(207, 157, 110);
}

.card-box-body-black {
    background-color: rgb(48, 48, 48);
}

.card-box-body-white {
    background-color: rgb(202, 202, 202);
}

/* Card Box Component End */

/* Card Box End */

/* Field */

[class*="field-"] {
    box-shadow: rgba(24, 24, 24, 0.37) 0 0.1rem 0.5rem;
    border-radius: 5px;
}

.field-grass {
    background-color: rgb(146, 207, 110);
}

.field-water {
    background-color: rgb(110, 180, 207);
}

.field-lava {
    background-color: rgb(207, 110, 110);
}

.field-sun {
    background-color: rgb(207, 157, 110);
}

.field-black {
    background-color: rgb(48, 48, 48);
}

.field-white {
    background-color: rgb(202, 202, 202);
}

/* Field End */

/* Divider */

[class*='divider-'] {
    display: grid;
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
    height: 2.5px;
    border-radius: 50px;
    opacity: 0.5;
    margin-top: 1.5vh;
    margin-bottom: 1.8vh;
}

.divider-grass {

    background-color: rgb(146, 207, 110);
}

.divider-water {
    background-color: rgb(110, 180, 207);
}

.divider-lava {
    background-color: rgb(207, 110, 110);
}

.divider-sun {
    background-color: rgb(207, 157, 110);
}

.divider-black {
    background-color: rgb(48, 48, 48);
}

.divider-white {
    background-color: rgb(202, 202, 202);
}

/* Divider End */

/* Form */

.group-form {
    display: grid;
    margin: 1%;
}

/* Form Component End */

.group-form label {
    padding: 1%;
}

.group-form label .req {
    color: rgb(207, 110, 110);
    font-weight: bold;
}

.group-form input {
    font-family: 'Æ Systematic TT BRK';
    outline: none;
    font-size: 22px;
    padding: 5px;
    border: 2px rgb(202, 202, 202) solid;
    border-radius: 5px;
    transition: border 0.3s ease-in-out;
}

.group-form input:focus, .group-form [class*='-form-border']:focus {
    border: 2px rgb(48, 48, 48) solid;
}

.group-form input.grass-form-border {
    border: 2px rgb(146, 207, 110) solid;
}

.group-form input.water-form-border {
    border: 2px rgb(110, 180, 207) solid;
}

.group-form input.lava-form-border {
    border: 2px rgb(207, 110, 110) solid;
}

.group-form input.sun-form-border {
    border: 2px rgb(207, 157, 110) solid;
}

.group-form p {
    font-size: 22px;
    padding: 5px;
    border: 2px rgb(202, 202, 202) solid;
    border-radius: 5px;
}

/* Form Component End */

/* Form End */

/* Button*/

.btn {
    font-family: 'Æ Systematic TT BRK';
    outline: none;
    border-radius: 5px;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    cursor: pointer;
    background: none;
    position: relative;
    z-index: 1;
    border: none;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    transition: all 0.2s;
}

.btn-grass {
    background-color: rgb(146, 207, 110);
    color: rgb(34, 34, 34);

}

.btn-water {
    background-color: rgb(110, 180, 207);
    color: rgb(34, 34, 34);
}

.btn-lava {
    background-color: rgb(207, 110, 110);
    color: rgb(34, 34, 34);
}

.btn-sun {
    background-color: rgb(207, 157, 110);
    color: rgb(34, 34, 34);
}

.btn-black {
    background-color: rgb(48, 48, 48);
    color: rgb(240, 240, 240);
}

.btn-white {
    background-color: rgb(202, 202, 202);
    color: rgb(34, 34, 34);
}

.btn-box {
    overflow: hidden;
}

.btn-box:after {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.61);
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(-40deg);
}


.btn-box:hover:after {
    height: 100%;
    opacity: 1;
}

.btn-box:active:after {
    height: 160%;
}

/* Button End */

/* Tag */

[class*="tag-"] {
    border-radius: 5px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    transition: color 0.1s;
    cursor: pointer;
    border: none;
}

.tag-grass {
    background-color: rgb(146, 207, 110);
    color: rgb(34, 34, 34);
}

.tag-grass:hover {
    color: white;
}

.tag-grass:active {
    color: rgb(202, 202, 202);
}

.tag-water {
    background-color: rgb(110, 180, 207);
    color: rgb(34, 34, 34);
}

.tag-water:hover {
    color: white;
}

.tag-water:active {
    color: rgb(202, 202, 202);
}

.tag-lava {
    background-color: rgb(207, 110, 110);
    color: rgb(34, 34, 34);
}

.tag-lava:hover {
    color: white;
}

.tag-lava:active {
    color: rgb(202, 202, 202);
}

.tag-sun {
    background-color: rgb(207, 157, 110);
    color: rgb(34, 34, 34);
}

.tag-sun:hover {
    color: white;
}

.tag-sun:active {
    color: rgb(202, 202, 202);
}

.tag-black {
    background-color: rgb(48, 48, 48);
    color: rgb(240, 240, 240);
}

.tag-black:hover {
    color: rgb(202, 202, 202);
}

.tag-black:active {
    color: white;
}

.tag-white {
    background-color: rgb(202, 202, 202);
    color: rgb(34, 34, 34);
}

.tag-white:hover {
    color: white;
}

.tag-white:active {
    color: rgb(202, 202, 202);
}

/* Tag End */

/* Pagination */

.pagination {
    display: flex;
    list-style: none;
}

.page-item {
    padding: 0.9rem 0 0.9rem 0;
    margin: 5px 2px 5px 2px;
    border-radius: 5px;
}

.page-item.active {
    background-color: rgb(202, 202, 202);
}

.page-item .page-link {
    padding: 0.9rem 1rem 0.9rem 1rem;
    z-index: 2;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.6s ease;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}

.page-item .page-link:hover {
    background-color: rgb(202, 202, 202);
}

/* Pagination end */

/* Component End*/